#corestable td:hover {
    cursor: pointer;
}

#graphstable td:hover {
    cursor: pointer;
}

#graphlist li:hover {
	cursor: pointer;
}

#chart_div {
	top-margin: 20px;
}

h1 {
	margin-bottom: 30px;
}

.spinner {
	background-image: url("/img/ajax-loader.gif");
	height: 32px;
	width: 32px;
}