#corestable td:hover {
    cursor: pointer;
}

#graphstable td:hover {
    cursor: pointer;
}

#graphlist li:hover {
	cursor: pointer;
}

.spinner {
	background-image: url("/img/ajax-loader.gif");
	height: 32px;
	width: 32px;
}