{% extends 'layout.twig' %}

{% block sidebar %}

<ul class="nav nav-sidebar">
	<li class="active"><a href="#">Overview</a></li>
	<li><a href="#">Spark Cores</a></li>
	<li><a href="#">Graphs</a></li>

</ul>


{% endblock %}

{% block body %}

<h1>Spark Core Graphs Admin</h1>

{% endblock %}