{% extends 'layout.twig' %}

{% block sidebar %}

<ul class="nav nav-sidebar">
	<li id="menu_coreoverview" class="active"><a href="#" onclick="coreoverview();">Overview</a></li>
	<li id="menu_cores"><a href="#" onclick="cores();">Spark Cores</a></li>
	<li id="menu_graphs"><a href="#" onclick="graphs();">Graphs</a></li>

</ul>


{% endblock %}

{% block body %}

<h1>Spark Core Graphs Admin</h1>

<p><span id="overview"></span>

<div id="cores"></div>
<div id="graphs"></div>

{% endblock %}

{% block pagescripts %}

<script src="/js/admin.js"></script>

{% endblock %}