{% extends 'layout.twig' %}

{% block sidebar %}

<ul class="nav nav-sidebar">
	<li id="menu_coreoverview" class="active"><a href="#" onclick="coreoverview();">Overview</a></li>
	<li id="menu_cores"><a href="#" onclick="cores();">Spark Cores</a></li>
	<li id="menu_graphs"><a href="#" onclick="graphs();">Graphs</a></li>

</ul>


{% endblock %}

{% block body %}

<h1>Spark Core Graphs Admin</h1>

<div id="overviewblock">
	<p><span id="overview"></span>
</div>

<div id="coresblock" class="hidden">
	<h2>Spark Cores</h2>
	
	<table id="corestable" class="table table-striped table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	
	<div id="coredetailblock" class="hidden">
		<h3>Core Detail</h3>
		<div class="center-block hidden spinner" id="detailspinner"></div>
		<br/>
		<span id="coredetailname"></span> <span id="coredetailconnected"></span>
		<table id="corevars" class="table table-bordered">
			<thead>
				<tr><th>Name</th><th>Type</th><th>Collection Frequency (minutes)</th><th>Collect ?</th><th></th></tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<span id="checkvarerror"></span>
	</div>
	
	<div>
		<h3>Add Core:</h3>
		<form id="addcore" action="">
			Core id: <input name="coreid" type="text"/> Access Token: <input name="apikey" type="text"/>
			<input type="hidden" name="corename"/>
			<input type="Submit" value="Lookup" id="addcoresubmit"/>
		</form>
		<br/>
		<div class="center-block hidden spinner" id="spinner"></div>
		<br/>
		<span id="addcoreinfo"></span>
		<br/><span id="addcoreerror"></span>
	</div>
</div>


<div id="graphsblock" class="hidden">
<h2>Graphs</h2>
	<table id="graphstable" class="table table-striped">
		<thead>
			<tr>
				<th>Graph</th>
				<th>Public ?</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	
	<div>
		<h3>Add Graph:</h3>
		<form id="addgraph" action="">
			Title: <input name="graphaddtitle" type="text"/> Publicly accessible ?: <input name="graphaddpublic" type="checkbox"/>
			  <input type="Submit" value="Submit" id="addgrapsubmit"/>
		</form>
		<br/>
		<div class="center-block hidden spinner" id="graphaddspinner"></div>
		<br/>
		<span id="addgraphinfo"></span>
		<br/><span id="addgrapherror"></span>
	</div>
	
</div>

<div id="graphdetailblock" class="hidden">
<h2>Graph Detail</h2>
	
</div>

{% endblock %}

{% block pagescripts %}

<script src="/js/admin.js"></script>

{% endblock %}