{% extends 'layout.twig' %}

{% block sidebar %}

<h3>Graphs:</h3>

<ul id="graphlist">
	
</ul>

{% endblock %}

{% block body %}

<h1> Spark Graph </h1>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

{% endblock %}

{% block pagescripts %}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/js/main.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/initGoogleCharts.js"></script>
{% endblock %}
